<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662925308624-7qfoapt2bqsj4d6v1vhrr0j5dbu460cu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662925308624-7qfoapt2bqsj4d6v1vhrr0j5dbu460cu</string>
	<key>API_KEY</key>
	<string>AIzaSyAu2xXnY-NIQeR5FK4uJntW6hU2PMri2OQ</string>
	<key>GCM_SENDER_ID</key>
	<string>662925308624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jacob.Happy-Donuts</string>
	<key>PROJECT_ID</key>
	<string>happydonutsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>happydonutsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662925308624:ios:054778bc8cc23650d424d5</string>
</dict>
</plist>